.about {
  padding-top: 5vw;
  padding-bottom: 5vw;

  img {
    width: 100%;
    min-height: 35rem;
    max-height: 40vw;
    object-fit: cover;
  }
}
article {
  font-family: "gilroylight";
  font-weight: 100;
  font-size: 1.5vw;
  color: #fff;
  line-height: 1.5;
  @media only screen and (max-width: 47.9375em) {
    font-size: 1.8vw;
  }
  @media only screen and (max-width: 38.75em) {
    font-size: 2.4vw;
  }
  @media only screen and (max-width: 28.125em) {
    font-size: 2.8vw;
  }
  @media only screen and (max-width: 25.625em) {
    font-size: 3vw;
  }
  & span {
    color: #e7d0b1;
  }
  & p {
    margin-bottom: 2.5vw;
  }
}
.about-photo-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
